
.DS_Store

*.swp

funcFacts/funcFacts.xcodeproj/project.xcworkspace/xcuserdata/evx001.xcuserdatad/UserInterfaceState.xcuserstate

funcFacts/funcFacts.xcodeproj/project.xcworkspace/xcuserdata/evx001.xcuserdatad/UserInterfaceState.xcuserstate

stormyWeather/stormyWeather.xcodeproj/project.xcworkspace/xcuserdata/evx001.xcuserdatad/UserInterfaceState.xcuserstate

npm-debug.log

JournalC4HQ/JournalC4HQ.xcodeproj/project.xcworkspace/xcuserdata/evx001.xcuserdatad/UserInterfaceState.xcuserstate
